<div class="item item-divider abilities">
  <div class="ability">
    <span class="name">Ability</span>
    <span class="total">Total</span>
    <span class="modifier">Modifier</span>
    <span class="racial">Racial</span>
    <span class="score">Score</span>
    <span class="temporary">Temp.</span>
  </div>
</div>
<div class="item item-body abilities">
  <div class="ability" ng-repeat="(attributeName, attributeValues) in attributes">
    <span class="name">{{attributeName}}</span>
    <span class="total">{{getAttributeTotal(attributeName)}}</span>
    <span class="modifier">{{getAttributeModifier(attributeName)}}</span>
    <span class="racial">{{getAttributeRacialBonus(attributeName)}}</span>
    <span class="score"><input ng-change="save(this)" ng-model="attributeValues[0]"></span>
    <span class="temporary"><input ng-change="save(this)" ng-model="attributeValues[1]"></span>
  </div>
</div>
