<ion-view view-title="Stats">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Basic information</div>
      <div class="item item-body profile">
        <generic-field label='"Character name"' namespace='profile.Name' col-width="12"></generic-field>
        <generic-field label='"Player name"' namespace='profile.Player' col-width="12"></generic-field>
        <generic-field label='"Character level"' namespace='profile.Level' col-width="12"></generic-field>

        <div class="alignment col-6">
          <span class="label col-5">Alignment</span>
          <span class="value col-7">
            <select ng-change="save(this)" ng-model="profile.Alignment">
              <option>Lawful Good</option>
              <option>Lawful Neutral</option>
              <option>Lawful Evil</option>
              <option>Neutral Good</option>
              <option>Neutral Neutral</option>
              <option>Neutral Evil</option>
              <option>Chaotic Good</option>
              <option>Chaotic Neutral</option>
              <option>Chaotic Evil</option>
            </select>
          </span>
        </div>

        <generic-field label='"Campaign"' namespace='profile.Campaign'></generic-field>
        <generic-field label='"Homeland"' namespace='profile.Homeland'></generic-field>
        <generic-field label='"Deity"' namespace='profile.Deity'></generic-field>
      </div>

      <div class="item item-divider">Physical aspets</div>
      <div class="item item-body profile">
        <div class="race col-6">
          <span class="label col-6">Race</span>
          <span class="value col-6">
            <select ng-change="selectRace()" ng-model="profile.Race">
              <option>Dwarf</option>
              <option>Elf</option>
              <option>Gnome</option>
              <option>Half-elf</option>
              <option>Half-orc</option>
              <option>Halfling</option>
              <option>Human</option>
            </select>
          </span>
        </div>
        <div class="size col-6">
          <span class="label col-6">Size</span>
          <span class="value col-6">
            <select ng-change="save(this)" ng-model="profile.Size">
              <option>Fine</option>
              <option>Diminutive</option>
              <option>Tiny</option>
              <option>Small</option>
              <option>Medium</option>
              <option>Large</option>
              <option>Huge</option>
              <option>Gargantuan</option>
              <option>Colossal</option>
            </select>
          </span>
        </div>
        <div class="gender col-6">
          <span class="label col-6">Gender</span>
          <span class="value col-6">
            <select ng-change="save(this)" ng-model="profile.Gender">
              <option>Male</option>
              <option>Female</option>
            </select>
          </span>
        </div>
        <generic-field label='"Age"' namespace='profile.Age' label-col-width="6"></generic-field>
        <generic-field label='"Height"' namespace='profile.Height' label-col-width="6"></generic-field>
        <generic-field label='"Weight"' namespace='profile.Weight' label-col-width="6"></generic-field>
        <generic-field label='"Eyes"' namespace='profile.Eyes' label-col-width="6"></generic-field>
        <generic-field label='"Hair"' namespace='profile.Hair' label-col-width="6"></generic-field>

      </div>
    </div>
  </ion-content>
</ion-view>
