<div class="racial-attribute card">
  <ion-radio ng-model="profile.bonusAttribute" ng-change="closeModal()" value="Strength">Strength</ion-radio>
  <ion-radio ng-model="profile.bonusAttribute" ng-change="closeModal()" value="Dexterity">Dexterity</ion-radio>
  <ion-radio ng-model="profile.bonusAttribute" ng-change="closeModal()" value="Intelligence">Intelligence</ion-radio>
  <ion-radio ng-model="profile.bonusAttribute" ng-change="closeModal()" value="Constitution">Constitution</ion-radio>
  <ion-radio ng-model="profile.bonusAttribute" ng-change="closeModal()" value="Wisdom">Wisdom</ion-radio>
  <ion-radio ng-model="profile.bonusAttribute" ng-change="closeModal()" value="Charisma">Charisma</ion-radio>
</div>
