<div class="item item-divider">Physical aspets</div>
<div class="item item-body profile">
  <div class="race">
    <span class="label col-5">Race</span>
    <span class="value col-7">
      <select ng-change="selectRace()" ng-model="profile.Race">
        <option>Dwarf</option>
        <option>Elf</option>
        <option>Gnome</option>
        <option>Half-elf</option>
        <option>Half-orc</option>
        <option>Halfling</option>
        <option>Human</option>
      </select>
    </span>
  </div>
  <div class="size">
    <span class="label col-5">Size</span>
    <span class="value col-7">
      <select ng-change="saveOld(this)" ng-model="profile.Size">
        <option>Fine</option>
        <option>Diminutive</option>
        <option>Tiny</option>
        <option>Small</option>
        <option>Medium</option>
        <option>Large</option>
        <option>Huge</option>
        <option>Gargantuan</option>
        <option>Colossal</option>
      </select>
    </span>
  </div>
  <div class="gender">
    <span class="label col-5">Gender</span>
    <span class="value col-7">
      <select ng-change="saveOld(this)" ng-model="profile.Gender">
        <option>Male</option>
        <option>Female</option>
      </select>
    </span>
  </div>
  <generic-field label='"Age"' namespace='profile.Age' save="save('profile.Age', arg)"></generic-field>
  <generic-field label='"Height"' namespace='profile.Height' save="save('profile.Height', arg)"></generic-field>
  <generic-field label='"Weight"' namespace='profile.Weight' save="save('profile.Weight', arg)"></generic-field>
  <generic-field label='"Eyes"' namespace='profile.Eyes' save="save('profile.Eyes', arg)"></generic-field>
  <generic-field label='"Hair"' namespace='profile.Hair' save="save('profile.Hair', arg)"></generic-field>
</div>
