<div class="item item-divider">Other movement</div>
<div class="item item-body">
  <div class="col-6 with-subtitle">
    <span class="label col-5">Swim</span>
    <span class="value col-4">
      <input ng-change="saveOld(this)" ng-model="speed.swim">
      <div class="subtitle">meters</div>
    </span>
    <span class="value col-3">
      {{speed.squares('swim')}}
      <div class="subtitle">squares</div>
    </span>
  </div>
  <div class="col-6 with-subtitle">
    <span class="label col-5">Fly</span>
    <span class="value col-4">
      <input ng-change="saveOld(this)" ng-model="speed.fly">
      <div class="subtitle">meters</div>
    </span>
    <span class="value col-3">
      {{speed.squares('fly')}}
      <div class="subtitle">squares</div>
    </span>
  </div>
  <div class="col-6 with-subtitle">
    <span class="label col-5">Burrow</span>
    <span class="value col-4">
      <input ng-change="saveOld(this)" ng-model="speed.burrow">
      <div class="subtitle">meters</div>
    </span>
    <span class="value col-3">
      {{speed.squares('burrow')}}
      <div class="subtitle">squares</div>
    </span>
  </div>
  <div class="col-6 with-subtitle">
    <span class="label col-5">Climb</span>
    <span class="value col-4">
      <input ng-change="saveOld(this)" ng-model="speed.climb">
      <div class="subtitle">meters</div>
    </span>
    <span class="value col-3">
      {{speed.squares('climb')}}
      <div class="subtitle">squares</div>
    </span>
  </div>
</div>
